/* Filter styles */
.filter{
    width: 50%;
    padding-top: 1%;
    padding-bottom: 5%;
    margin: 0 auto;

    text-align: center;
}

.filter input[type=text]{
    font-size: medium;
}

.filter label{
    font-size: x-large;
}

.filter p{
    font-size: xx-large;
}

.filterSubmit{
    padding-top: 1%;
}

.filterButton{
    font-size: large;
}

#filterInput{
    align-items: center;
}

/* Search styles */

.search{
    width: 50%;
    margin: 0 auto;
}

.searchInputDiv{
    display: flex;
    justify-content: center;
}

.searchInput{
    font-size: large;

    width: 40%;
}

.searchButton{
    font-size: large;
}

.inputH1{
    text-align: center;
    font-size: xxx-large;
}
