body{
    background-image: url("./img/popcorn_backgroundjpg.jpg");

    padding-bottom: 10%;
}

#app{
    margin: 0 auto;
    width: 80%;
}

.movieLookup{
    background-color: white;

    margin: 0 auto;
}

.test{
    display: flex;
    justify-content: center;
}

.input{
    display: flex;
    justify-content: center;
}