.movieTable{
    display: flex;
    justify-content: center;

}

table{
    border-collapse: collapse;

    text-align: center;
    vertical-align: center;
}
td{
    padding-right: 1%;
}

tbody tr:nth-child(odd) {
    background-color: #ece6e6;
}

thead{
    background-color: #e80c0c;
}

table p{
    font-family: Lucida Console, serif;
    font-size: large;
}


.pPlot {
    font-size: larger;
    width: 90%;

    margin: 0 auto;
    padding-bottom: 1%;
}


.poster{
    size: portrait;
    height: 200px;
    width: 150px;

    display: flex;
    justify-content: center;
}

.tempInfo{
    text-align: center;
}